@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.scroll-wrapper {
    overflow: hidden;
    position: relative;
}

.scroll-track {
    display: flex;
    width: fit-content;
    animation: scroll-left 30s linear infinite;
}